@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-*: initial;
  --color-neutral-0: #ffffff;
  --color-neutral-100: #e8f0ef;
  --color-neutral-300: #dde9e7;
  --color-neutral-400: #c0cfcc;
  --color-neutral-500: #899492;
  --color-neutral-600: #899492;
  --color-neutral-800: #4c5c59;
  --color-neutral-900: #051513;

  --color-teal-700: #014745;
  --color-teal-800: #013c3b;

  --color-red-600: #fd4740;
  --color-red-800: #cb0a04;

  --font-sans: var(--font-manrope);
}

@layer theme {
  :root,
  :host {
    /* stylelint-disable-next-line at-rule-no-unknown */
    @variant dark {
      --color-neutral-0: #ffffff;
      --color-neutral-100: #b1b9b9;
      --color-neutral-300: #00706e;
      --color-neutral-400: #004746;
      --color-neutral-500: #004241;
      --color-neutral-600: #002e2d;
      --color-neutral-800: #001f1f;
      --color-neutral-900: #001414;
    }
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* stylelint-disable-next-line at-rule-no-unknown */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-manrope);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope);
}
