@import "tailwindcss";

@variant dark (&:is([data-theme="dark"] *));

@theme {
  --color-*: initial;

  /* Light theme colors */
  --color-neutral-0: #ffffff;
  --color-neutral-100: #e8f0ef;
  --color-neutral-300: #dde9e7;
  --color-neutral-400: #c0cfcc;
  --color-neutral-500: #899492;
  --color-neutral-600: #899492;
  --color-neutral-800: #4c5c59;
  --color-neutral-900: #051513;
  --color-neutral-dark-100: #b1b9b9;
  --color-neutral-dark-300: #00706e;
  --color-neutral-dark-400: #004746;
  --color-neutral-dark-500: #004241;
  --color-neutral-dark-600: #002e2d;
  --color-neutral-dark-800: #001f1f;
  --color-neutral-dark-900: #001414;

  --color-teal-700: #014745;
  --color-teal-800: #013c3b;

  --color-red-600: #fd4740;
  --color-red-800: #cb0a04;
  
  --color-background: var(--color-neutral-0);
  
  --color-destructive: var(--color-red-800);
  --color-input: var(--color-neutral-500); 

  --font-sans: var(--font-manrope);

  /* Light theme shadows */
  --shadow-hover: 0 1px 2px 0 rgba(10, 13, 18, 0.05);
  --shadow-hover-dark: 0 1px 2px 0 rgba(10, 13, 18, 0.05);

  --shadow-focus: 0 0 0 2px #ffffff,
    0 0 0 4px #014745;
  --shadow-focus-dark: 0 0 0 1px rgba(10, 13, 18, 0.18) inset, 0 0 0 2px #001f1f,
    0 0 0 4px var(--color-neutral-dark-100);
  --shadow-dropdown: 0 6px 14px 0 rgba(34, 38, 39, 0.10);
}

body {
  background: var(--color-neutral-0);
  color: var(--color-neutral-900);
  font-family: var(--font-manrope);
}
